<%= form_with(model: @selection, local: true) do |form| %>
  <% if flash.now[:limit] %>
    <p><%= flash.now[:limit]%></p>
  <% end %>
  <p>
    <%= form.label(:month) %>
    <%= form.select(:month, options_for_select(list_months, @selection.month)) %>
  </p>
  <p>
    <%= form.label(:meals) %> <br>
    <%= form.collection_select(
      :meals, 
      list_meals, :id, :name,
      {prompt: false, selected: @selection.meals.ids}, 
      {multiple: true, size: 5})%>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>
<%= link_to 'back', selections_path %>
