<h1>Selections</h1>
<%= link_to('Meals', meals_path) %>
<%= link_to('Select food', new_selection_path) %>

<%= form_with(url: selections_path, method: :get, local: true) do |form| %>
  <%= form.label(:month) %>
  <%= form.select(:month, options_for_select(list_months, @current_month)) %>
  <%= form.submit "Search" %>
<% end %>

<% if @selections && @selections.length > 0 %>
  <% @selections.each do |selection| %>
    <br>
    <strong><%= selection.month%></strong>
    <%= button_to('Edit', { action: 'edit', id: selection.id }, method: :get ) %>
    <% if selection.meals.length > 0%>
      <ul>
        <% selection.meals.each do |meal| %>
          <li><%= meal.name%></li>
        <% end %>
      </ul>
    <% end %>
  <% end %>
<% else %>
  <p>You have no selections in <%= params[:month] %>.</p>
<% end %>
